body {
	background-color: #0F2F35;
	font-family: 'Roboto Mono', monospace;
}

#main {
	background-color: #FFFBDD;
	padding: 25px;
}

#title-image {
	width: 100%;
	margin-top: 20px;
	margin-bottom: 20px;
}

#inputForm {
	width: 100%;
}

#submitForm {
	width: 100%;
	background-color: #EE6AA2;
	color: black;
}

#hover {
	height: 80px;
}

tr {
	padding: 0px;
	margin: 0px;
}
